:root {
    --light-gray: #eeeeee;
    --red: rgb(197, 0, 0);
    --dark-green: #11aa20;
    --green: #11cc43;
    --gray: #aaaaaa;
    --gold: #ffd700;
    --dark-gray: #555555;
    --white: #ffffff;
    --black: #000000;
}