:root {
    --light-gray: #eeeeee;
    --red: rgb(197, 0, 0);
    --dark-green: #11aa20;
    --green: #11cc43;
    --gray: #aaaaaa;
    --gold: #ffd700;
    --dark-gray: #555555;
    --white: #ffffff;
    --black: #000000;
}


@media (prefers-color-scheme: dark){
    
    :root {
/*        Put new values for the variables above in here to change when dark mode enabled */
        --light-gray: #3d3d3d;
        --red: rgb(197, 0, 0);
        --dark-green: #11aa20;
        --green: #11cc43;
        --gray: #aaaaaa;
        --gold: #ffd700;
        --dark-gray: #363636;
        --white: #5a5a5a;
        --black: #ffffff;
    }
    
}