@import "https://use.typekit.net/rrd5zxg.css";



html, body{

    margin: 0;

    padding: 0;

    font-family: 'atten-new', Helvetica, Arial, sans-serif;

    color: var(--black, black);

}

a {
    text-decoration: none;
}


h1, h2, h3, h4 h {
    display: inline-block;
    line-height: 1.5em;
    width: 100%;
}



h1 {

    font-family: 'azo-sans-web', Helvetica, Arial, sans-serif;

    font-size: calc(60px + 0.3vmax);

    color: var(--green, green);

}



h2 {

    font-family: 'azo-sans-web', Helvetica, Arial, sans-serif;

    font-size: calc(30px + 0.3vmax);

    color: var(--black, black);

}



h3 {

    font-family: 'azo-sans-web', Helvetica, Arial, sans-serif;

    font-size: calc(18px + 0.3vmax);

}



h4{

    font-family: 'azo-sans-web', Helvetica, Arial, sans-serif;

    font-size: calc(10px + 0.3vmax);

    color: var(--gray, gray);

}



p1, p2, p3, p4, p, label {

    font-family: 'atten-new', Helvetica, Arial, sans-serif;

    color: var(--black, black);

}



p1 {

    font-size: calc(16px + 0.3vmax);

}



p2 {

    font-size: calc(13px + 0.3vmax);

    color: var(--dark-gray, darkgray);

}



p3, p4, p {

    font-size: calc(10px + 0.3vmax);

    color: var(--dark-gray, darkgray);

}



p4 {

    color: var(--gray, gray);

}



p {

    color: var(--black, black);

}



label {

    font-family: 'azo-sans-web', Helvetica, Arial, sans-serif;

    margin-bottom: 5px;

    color: var(--gray, gray);

    font-weight: 700;

}



label:before {

    content: '|';

    margin-right: calc(10px - 0.3ex);

    color: var(--light-gray, lightgray);

}



input {

    -webkit-appearance: none;

    -moz-appearance: none;

    border: 2px solid var(--light-gray, lightgray);

    background-color: var(--light-gray, lightgray);

    height: 20px;

    line-height: 20px;

    border-radius: 10px;

    padding-left: 10px;

    padding-right: 10px;

    font-family: 'atten-new', Helvetica, Arial, sans-serif;

    font-weight: 400;

    font-size: 16px;

    font-weight: bold;

    color: var(--dark-gray, darkgray);

    outline: none !important;

    margin-bottom: 10px;

}



label + input:not([type="submit"]), label + input:not([type="button"]) {

    border-top-left-radius: 0.3ex;

}



input:invalid, input.invalid {

    border-color: var(--red, red);

}



input[type="submit"], input[type="button"] {

    height: 40px;

    line-height: unset;

    background-color: var(--gold, gold);

    border: none;

    cursor: pointer;

    color: var(--white, white);

    border-radius: 20px;

}



input[type="submit"]:invalid, input[type="button"]:invalid, input[type="submit"].invalid, input[type="button"].invalid {

    background-color: var(--red, red);

}



input:hover {

    border-color: var(--gold, gold);

}



input[type="submit"]:hover, input[type="button"]:hover {

    background-color: var(--light-gray, lightgray);

}



form input[type="text"], form input[type="password"], form label {

    width: 100%;

}



div#content {

    display: block;

    width: calc(100% - 40px);

    height: auto;

    min-height: 100vh;

    padding-left: 20px;

    padding-right: 20px;

}



div#content div.section {

    display: flex;

    width: 100%;

    height: auto;

    flex-direction: column;

    justify-content: flex-start;

    align-items: center;

}



div#content div.section:first-child:last-child, div#content div.section:first-child:last-child div.post {

    min-height: 100vh;

}

div#content div.section div.post {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: auto;
}


form p.response {

    color: var(--red, red);

}



form p.response:empty {

    display: none;

}



form p.response[success] {

    color: var(--green, green);

}